.article-card {
  background-color: rgb(192, 190, 190);
  margin: 15px;
  padding: 0.5em;
  list-style-type: none;
  border-radius: 8px;
  transition-duration: 0.3s;
}

.article-card:hover {
  background-color: rgb(204, 186, 186);
}

.home {
  background-color: rgb(224, 224, 224);
  padding: 0.7em;
  border-radius: 25px;
}

.single-article {
  background-color: rgb(196, 201, 207);
  padding: 0.5em;
  border-radius: 8px;
}

.header {
  background-color: rgb(197, 190, 190);
  padding: 10px;
  margin: 3px;
  border-radius: 8px;
}

.header-title {
  color: #ad0101;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: xxx-large;
  margin-top: 0.2em;
}

.header-log-in {
  color: #000000;
  text-align: right;
  padding-right: 10px;
  float: right;
  margin-top: -70px;
}

.header-nav-bar {
  margin: 5;
  padding: 5;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
}
.header-nav {
  padding: 0.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  padding-right: 8px;
  padding-left: 8px;
  border-right: 3px solid rgb(182, 182, 182);
  border-radius: 5px;
  transition-duration: 0.3s;
}
.header-nav:hover {
  background-color: #d3c0c0;
}

.comment {
  background-color: rgb(224, 224, 224);
  list-style-type: none;

  padding: 0.7em;
  margin: 5px;
  border-radius: 8px;
}
.comment-author {
  margin-top: 5px;
}
.comment-time {
  float: right;
  margin-top: -3em;
}
.comment-body {
  background-color: rgb(196, 201, 207);
  border-radius: 8px;
  padding: 10px;
}
.positive-likes {
  color: rgb(0, 102, 0);
}
.negative-likes {
  color: rgb(179, 2, 2);
}

.single-article-footer {
  background-color: rgb(224, 224, 224);
  padding: 0.5em;
}

.single-article-footer-comment-count {
  float: right;
  margin-top: 2px;
}
.upvote-button {
  background-color: rgb(134, 202, 134);
}

#success {
  visibility: hidden;
  background-color: rgb(87, 84, 84);
  color: rgb(0, 250, 0);
}

.showsuccess {
  visibility: visible;
}

.topic-button {
  background-color: #d10000;
  margin: 0.1em;
  border: none;
  color: white;
  padding: 0.6em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.topic-button:hover {
  animation: bubble 0.4s ease-out;
  background-color: #d85a5a;
}
#comment-delete-message-off {
  background: #a50000;
  height: 60px;
  left: 0%;
  padding: 10px;
  visibility: hidden;
  position: fixed;
  top: 25px;
}
#comment-delete-message-on {
  background: #a50000;
  height: 60px;
  right: 5%;
  padding: 10px;
  visibility: visible;
  position: fixed;
  top: 25px;
  opacity: 0.9;
  border-radius: 8px;
}
.sort-dropdowns {
  margin: 0.1em;
  float: left;
  background: #b30303;
  color: white;
  padding: 7px;
  margin-top: 5px;
  border-radius: 10px;
  width: 158px;
}

.login {
  background-color: rgb(224, 224, 224);
  padding: 0.7em;
  border-radius: 25px;
}

.articles-list {
  padding-top: 40px;
  margin-left: -2.5em;
}
.articles-page {
  background-color: rgb(224, 224, 224);
  padding: 0.7em;
  border-radius: 25px;
}

.loading {
  margin-left: 1.5em;
}
