.article-card {
  background-color: rgb(142, 185, 185);
  border: 1px solid black;
  margin:3px;
  padding:0.5em;
  list-style-type:none;

}

.home {
  background-color: rgb(142, 185, 185);
  border: 1px solid black;
  padding:0.5em;

}

.single-article {
  background-color: rgb(142, 185, 185);
  border: 1px solid black;
  padding:0.5em;
}

.header {
  background-color:rgb(255, 193, 193);
  padding: 3px;
  margin:3px;
  border: 1px solid black;
}

.header-nav {
  background-color: blue;
}

.comment{
  background-color: aquamarine;
  list-style-type:none;
  border: 1px solid black;
  padding:5px;
  margin: 10px;
}
.comment-body{
  background-color:#b3ffdc;
  border: 1px solid black;

}

.article-footer{
  border: 1px solid black;
  background-color: rgb(207, 207, 160);
  padding:0.5em;
}

.upvote-button{
  background-color: rgb(134, 202, 134);
}